@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
* {
  font-family: 'Poppins';
  font-weight: 300;
}

.app-contaner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  margin-top: 100px;
}

table {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 800px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 15px;
}
th {
  border-bottom: 1px solid black;
}
td {
  text-align: center;
}

tr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

img {
  width: 100px;
}

.table-header {
  width: 800px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 15px;
  top: 15vh;
  z-index: 1;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.app {
  display: inline-block;
  margin-left: 25vw;
}

.row-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1vh;
  font-weight: 500;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

button {
  align-items: center;
  border-radius: 15px;
  background: #ffffff;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1a202c;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.save {
  margin-left: 20px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
